.red {
    width: max-content;
    padding: 10px 20px;
    margin: 10px auto;
   color: white;
   background-color: red;
}
.orange {
    width: max-content;
    padding: 10px 20px;
    margin: auto;
    color: red;
    background-color: orange;
}